@model EntityFrameworkCodeFirst.Models.Book

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Books</h1>
        <h3>Categories</h3>
        @*@foreach(var c in categories)
        {

        }*@

        <h3>Model.Title</h3>
    </body>
</html>